<div fxLayout="column" fxLayoutAlign="center center" style="margin: 25px 0px;">
  <h1>My latest posts</h1>
</div>

<div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center center">

  <div *ngFor="let post of posts$ | async" style="width: 85%; max-width: 600px;" class="post" @fadeSlideInOut>

    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title style="text-align: center;">
          <a [routerLink]="post.route">
            {{ post.title }}
          </a>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">
          {{ post.date | date: 'shortDate' }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content style="text-align: center;">
        <p>{{ post.description }}</p>
      </mat-card-content>

    </mat-card>

  </div>
</div>