h1 {
  color:#1565c0;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.project {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0px auto 40px;
  max-width: 900px;
  width: 80%;
  padding: 30px;
}

.back-btn {
  text-decoration: none;
  font-size: 17px;
  margin: 25px 0px;
}
