footer {
  // background-color: #e0f2f1;
  background-color: #e1f5fe;
  text-decoration: none;
  padding-bottom: 25px;
}

.all-wrap {
  min-height: 100vh;
  // background-color: #e0f2f1;
  background-color: #e1f5fe;
}
