footer {
  // background-color: #e0f2f1;
  background-color: #e1f5fe;
  text-decoration: none;
  padding: 10px 0px;
}

.all-wrap {
  min-height: 100vh;
  // background-color: #e0f2f1;

  // background-color: #e1f5fe;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(21, 101, 192, 0.3)),
    url("https://website-images-nathan.s3-us-west-2.amazonaws.com/nathanpickard.com/bg-018.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-img {
  max-width: 170px;
  border-radius: 50%;
  padding: 15px 25px 10px;
}

.twitter:hover {
  fill: #1DA1F2;
}

.github:hover {
  fill: #ffffff;
  background-color: black;
  border-radius: 150px;
}

// .github-bg:hover {
//   background-color: black;
// }

.linkedin:hover {
  fill: #2867B2;
}

.app-header {
  // background-color: #e1f5fe;
  margin: 20px 40px;
}
