<app-navigation></app-navigation>

<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav>

    <mat-nav-list>

      <mat-list-item *ngFor="let route of routes">
        <a [routerLink]="route.path" routerLinkActive="active" (click)="sidenav.toggle()">
          {{ route.name }}
        </a>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

<footer>
  <mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="center center">

      <a href="https://github.com/NathanPickard" mat-stroked-button target="_blank"
        style="text-decoration: none; color: white;">
        <mat-icon>copyright</mat-icon>
        2020 Built by
        Nathan Pickard
      </a>

    </mat-toolbar-row>
  </mat-toolbar>
</footer>