<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 16px;">
  <h1>Check out my work</h1>
</div>

<div fxLayoutAlign="center center">

  <div fxLayoutGap="30px" fxLayout="column" style="max-width: 600px;">

    <div *ngFor="let project of portfolio$ | async">

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <a [routerLink]="project.route">
              {{ project.title }}
            </a>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <b>{{ project.description }}</b>
        </mat-card-content>

      </mat-card>

    </div>
  </div>

</div>