<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 25px 0px;">
  <h1>Check out my work</h1>
</div>

<div fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center center">
  <div *ngFor="let project of portfolio$ | async" style="width: 85%; max-width: 500px;" @fadeSlideInOut>
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          <a [routerLink]="project.route">
            {{ project.title }}
          </a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center center">
        <b>{{ project.description }}</b>
      </mat-card-content>
    </mat-card>
  </div>
  <a href="https://github.com/NathanPickard" target="_blank" @fadeSlideInOut>
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>
          Check out more of my projects on GitHub
        </mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center center">
        <a href="https://github.com/NathanPickard" target="_blank">
          <img src="https://website-images-nathan.s3-us-west-2.amazonaws.com/nathanpickard.com/Octicons-mark-github.svg"
            style="max-width: 70px;">
        </a>
      </mat-card-content>
    </mat-card>
  </a>
</div>