a {
  font-size: 17px;
}

.nav-header {
  position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.active {
  // background-color: #4D000D;
  background-color: #1e88e5;
}

@media only screen and (max-width: 600px) {
  .social-media {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 600px) {
  .social-media {
    margin-right: 30px;
  }
}
