<mat-toolbar class="nav-header" color="primary">

  <mat-toolbar-row fxLayoutGap="20px">

    <button mat-icon-button (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <h2>Nathan Pickard</h2>

    <span class="spacer"></span>

    <a mat-stroked-button routerLink="/" routerLinkActive="active">
      Home
    </a>
    <a mat-stroked-button routerLink="/blog" routerLinkActive="active">
      Blog
    </a>
    <a mat-stroked-button routerLink="/portfolio" routerLinkActive="active">
      Portfolio
    </a>
    <a mat-stroked-button routerLink="/about" routerLinkActive="active">
      About
    </a>
  </mat-toolbar-row>

</mat-toolbar>