<div fxLayout="column" fxLayoutAlign="center center">

  <h2>Hey there!</h2>

  <div style="margin: 20px 50px;">
    <p style="max-width: 700px;">Pragmatic Full-Stack JavaScript developer with experience in feature-rich, web
      application development and creating
      growth for startups.
    </p>
  </div>

  <a class="twitter-timeline" data-width="400" data-height="500" data-theme="light"
    href="https://twitter.com/NathanPickard?ref_src=twsrc%5Etfw">Tweets by NathanPickard</a>

  <!-- <a href="https://dev.to/nathanpickard" target="_blank">
    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Nathan Pickard's DEV Profile" height="50"
      width="50">
  </a> -->

</div>